# Navigation
alias l='ls'
alias ll='ls -lah'

# Creation
alias mkdir="mkdir -p"

# Terminal Management
alias cl="clear"
alias ex="exit"

# Git
alias gs="git status"
alias gd="git diff"
alias gst="git stash"
alias gcm="git commit -m"
alias gpl="git pull"
alias gm="git merge"
alias gpsh="git push"
alias gcl="git clone"
